
/*.progress-container {
  margin: 0 0 15px 0;
}

.progress {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: auto;
  height: 10px;
  border-radius: 0px;
  background-color: #eee;
  outline: none;
  padding: 1px 2px;
  margin: 0;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(183, 136, 248);
  cursor: pointer;
}*/
